*{
    margin: 0;
    padding: 0;
}
/*body{
    background-image: url("img/AppLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2; 
}*/
h1{
    font-family: 'Comforter Brush', cursive;
    color:deeppink;
    text-align: center;
    font-size: 5em;
    text-shadow: 2px 2px 2px black;
    margin-top: 2%;
}
.text{
    font-family: 'Abel', sans-serif;
    text-align: center;
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 2%;
}
#AccountNameFilds{
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}
input{
    height: 2em;
}
label{
 margin: 1%;
}
.explanation{
    font-size: 0.9em;
    color: #000;
    text-align: center;
}
#submit{
    margin: 2% 2%;
}

body {
    width: auto;
    height: auto;
    /*display: block;*/
    /*position: relative;*/
  }
  
body::after {
    content: "";
    background: url(img/AppLogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  #Alien{
        position: fixed;
        margin-top: 5%;
        margin-left: 80%;       
      
  }
  .Alien{
      height: 120px;
      z-index: -1;
      border-radius: 360px;
      opacity: 0.9;
      text-align: center;
         
  }